<%- include("../partials/header") %>

<div class="card">
  <% if (post.imageUrl) { %>
    <img
      src="<%= post.imageUrl %>"
      alt="Card image"
      class="card-img-top"
    >
  <% } %>

  <div class="card-body">
    <h5 class="card-title">
      <%= post.title %>
    </h5>

    <p class="card-text">
      <%= post.content %> <br>
      <em>Seen <%= post.viewCount %> time(s)</em> •
      <em>Posted at <%= post.createdAt %></em>
    </p>

    <form action="/posts/<%= post.id %>" method="POST">
      <input type="hidden" name="_method" value="DELETE">
      <input type="submit" value="Delete" class="btn btn-outline-danger">
    </form>
  </div>
</div>

<%- include("../partials/footer") %>
